<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Dinámica</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>PRODUCTOS</h1>
    <div id="main-view">
        <div class="image-container">
            <a href="/Producto/Index" target="_blank">
                <img src="~/css/Imagenes/imagen1.png" alt="Ir a Example" style="width: 300px; height: auto;">
            </a>
        </div>
        <div class="image-container">
            <a href="/Producto/Create" target="_blank">
                <img src="~/css/Imagenes/imagen3.png" alt="Ir a Example" style="width: 300px; height: auto;">
            </a>
        </div>
        </div>
            </BR></BR>
            <h1>PROVEEDORES</h1>
            <div id="main-view">
                <div class="image-container">
            <a href="/Proveedor/Index" target="_blank">
			<img src="~/css/imagenes/proveedores.jpg" alt="Ir a Example">
            </a>
        </div>
        <div class="image-container">
            <a href="Proveedor/Create" target="_blank">
            <img src="~/css/Imagenes/imagen3.png" alt="Imagen 3">
            </a>
        </div>


        </DIV>

        <h1>CLIENTES</h1>
        <div id="main-view">
        <div class="image-container">
            <a href="/Cliente/Index" target="_blank">
                <img src="~/css/imagenes/clientes.jpg" alt="Ir a Example">
            </a>
        </div>
        <div class="image-container">
            <a href="/Cliente/Create" target="_blank">
                <img src="~/css/Imagenes/imagen3.png" alt="Ir a Example">
            </a>
        </div>
        </DIV>
        </BR>
    </div>
    <script src="script.js"></script>
</body>
</html>