@model WebApplication2.Models.Proveedor

<h2>Elimnar Producto</h2>

<form method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" readonly />
    </div>
    <div class="form-group">
        <label for="Direccion">Direccion</label>
        <input type="text" class="form-control" id="Direccion" name="Direccion" value="@Model.Direccion" readonly />
    </div>
    <div class="form-group">
        <label for="Articulo">Articulo</label>
        <input type="text" class="form-control" id="Articulo" name="Articulo" value="@Model.Articulo" readonly />
    </div>
    <div class="form-group">
        <label for="Mensaje">Esta seguro que desea eliminar estos datos</label>
        <a href="/Proveedor/Index"> Regresar</a>
    </div>

    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>